MAILER_FROM="your-email@example.com"
SMTP_ADDRESS="smtp.gmail.com"
SMTP_PORT="465"
SMTP_DOMAIN="gmail.com"
SMTP_USERNAME="your-email@example.com"
SMTP_PASSWORD=""
SMTP_SSL="true"
SMTP_OPEN_TIMEOUT="10"
SMTP_READ_TIMEOUT="10"
